@media only screen and (min-width: 1170px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    line-height: 1.6;
    width: 1170px;
    margin: 30px auto;
    position: relative;
    border: solid 3px rgb(213, 213, 213);
  }
  .cv {
    display: grid;
    grid-template-columns: 650px 250px 250px;
    gap: 0px;
    justify-content: center;
    background-color: blue;
  }
  .cv-1 {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
  }
  .td {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: rgb(164, 164, 164) solid 1px;
    margin-bottom: 20px;
  }

  .scopes {
    grid-row: 2/3;
  }
  .scopes-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 50px;
  }
  .primary {
    grid-column: 2/3;
  }
  .timeline {
    grid-row: 1/3;
    grid-column: 3/4;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
  }
  p {
    padding-left: 30px;
  }
  span {
    position: absolute;
  }
}
